[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
# empty; we are providing this information in the -subj option of the req command

[v3_req]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
authorityKeyIdentifier = keyid:always, issuer:always
keyUsage = nonRepudiation, digitalSignature, keyEncipherment, dataEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.apps.81.runai.local
DNS.2 = api.81.runai.local
DNS.3 = *.apps.kirson.runai.local
DNS.4 = api.kirson.runai.local
DNS.5 = *.runai.haproxy.runai.local
DNS.6 = *.runai.local
